<html>
<head>
	<meta charset="UTF-8"/>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="/styles/styles.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="/scripts/edit_order_form.js"></script>
</head>
<body>
{{#checkoff}}
	<form action="/update_checked/{{order.id}}" method="post">
{{/checkoff}}	
{{^checkoff}}
	{{#order}}
		<form action="/update/{{order.id}}" method="post">
	{{/order}}
	{{^order}}
		<form action="/create" method="post">
	{{/order}}	
{{/checkoff}}	
	
		<header class="list-group-item-info">
			<button type='submit' id="saveButton" class="btn btn-primary">Guardar</button>
			<a href="/{{#order}}show/{{order.id}}{{/order}}"><button type='button' class="btn btn-primary">Cancelar</button></a>
		</header>
		<h2>Pedido:
		{{#checkoff}}
			{{order.title}}</h2>
		{{/checkoff}}
		{{^checkoff}}
			<input type='text' name='title'
			{{#order}}
				value="{{order.title}}"
			{{/order}}		
			/>
		{{/checkoff}}
		</h2>
		<div>
{{^checkoff}}
			<div>
				<a href="#" onClick="addItem(this);"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> A&ntildeadir art&iacute;culo</a>
			</div>
{{/checkoff}}
			<ul class="list-group">
			<div id="items">
{{#order.items}}
				<input type='textbox' class="hidden" id="checked-{{-index}}" name="delete-{{-index}}" value="false"/>					
				<li class="list-group-item list-group-item-info">
	{{^checkoff}}
					<input class="hidden" type='checkbox' name="checked-{{-index}}" {{#checked}}checked{{/checked}}/>
					<input type='text' name="item-{{-index}}" value="{{name}}"/>
	{{/checkoff}}					
	{{#checkoff}}
					<input type='checkbox' id="check-off-{{-index}}" name="checked-{{-index}}" {{#checked}}checked{{/checked}}/>
					<label for="check-off-{{-index}}">{{name}}</label>
	{{/checkoff}}					
					<label for="checked-{{-index}}" class="btn" onClick="deleteItem(this);"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></label>
				</li>
{{/order.items}}				
{{^order.items}}			
				<li class="list-group-item list-group-item-info">
					<input type='text' name="newitem"/>
					<label class="btn" onClick="deleteItem(this);"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></label>
				</li>
{{/order.items}}
			</div>
			</ul>
		</div>	
	</form>
	<script>
	$(function() {
		configSaveButton();
		configDeleteItemButtons();
		$("input").on("keyup", inputBoxKeyUpHandler);
	});
	</script>
</body>
</html>