<html>
<head>
	<meta charset="UTF-8"/>
	<link href="/mdb/css/bootstrap.min.css" rel="stylesheet">
	<link href="/mdb/css/mdb.min.css" rel="stylesheet">
	<link href="/styles/styles.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="/scripts/edit_order_form.js"></script>
</head>
<body>
	<h2>Pedido</h2>
	<form action="{{action}}" method="post">	
		<header>
			<button type='submit' id="saveButton" class="btn btn-primary">Guardar</button>
			<a href="/{{#order}}show/{{order.id}}{{/order}}"><button type='button' class="btn btn-primary">Cancelar</button></a>
		</header>
		<h2>
		{{#checkoff}}
			{{title}}
		{{/checkoff}}
		{{^checkoff}}
			<input type='text' name='title' value="{{title}}"/>
		{{/checkoff}}
		</h2>
		<div>
{{^checkoff}}
			<div class="">
				<label class="list-group-item-info btn btn-glyphicon" onClick="addItem(this);">
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> A&ntilde;adir art&iacute;culo
				</label>
			</div>
{{/checkoff}}
			<ul class="list-group">
			<div id="items">
{{#order.items}}
				<input type='textbox' class="hidden" id="checked-{{-index}}" name="delete-{{-index}}" value="false"/>					
				<li class="list-group-item list-group-item-info">
	{{^checkoff}}
					<input class="hidden" type='checkbox' name="checked-{{-index}}" {{#checked}}checked{{/checked}}/>
					<input type='text' name="item-{{-index}}" value="{{name}}"/>
	{{/checkoff}}					
	{{#checkoff}}
					<input type='checkbox' id="check-off-{{-index}}" name="checked-{{-index}}" {{#checked}}checked{{/checked}}/>
					<label for="check-off-{{-index}}">{{name}}</label>
	{{/checkoff}}					
					<label for="checked-{{-index}}" class="trash-node-to-hide btn btn-glyphicon" onClick="deleteItem(this);"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></label>
				</li>
{{/order.items}}
				<li class="new-item-to-clone hidden list-group-item list-group-item-info">
					<input type='text' class="hidden" name="newitem"/>
					<label class="trash-node-to-hide btn btn-glyphicon" onClick="deleteItem(this);"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></label>
				</li>
			</div>
			</ul>
		</div>	
	</form>
	<script>
	$(function() {
{{^order.items}}
		addItem();
{{/order.items}}
		configSaveButton();
		configDeleteItemButtons();
		$("input").on("keyup", inputBoxKeyUpHandler);
	});
	</script>
</body>
</html>