<html>
<head>
	<meta charset="UTF-8"/>
	<link href="/mdb/css/bootstrap.min.css" rel="stylesheet">
	<link href="/mdb/css/mdb.min.css" rel="stylesheet">
	<link href="/styles/styles.css" rel="stylesheet">
</head>
<body>
	<h2 class="alert alert-danger"><strong>Error</strong></h2>
	<div class="card col-md-12 mb-3">
		<nav class="card-body card-body-tiny-padding">
			<a href="/"><button class="btn btn-primary">Lista de pedidos</button></a>			
		</nav>
	</div>
	<div class="card col-md-4 mb-3 card-top-bottom-padding">
		<div class="card-body card-body-tiny-padding">
			<div class="list-group">
				<div class="list-group-item list-group-item-info">
					Pedido no encontrado: {{ id }}
				</div>
			</div>
		</div>
	</div>
</body>
</html>