<html>
<head>
	<meta charset="UTF-8"/>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">	
	<link href="/style/styles.css" rel="stylesheet">	
</head>
<body>
<div>
	<header class="list-group-item-info">
		<a href="/"><button class="btn btn-primary">Lista de pedidos</button></a>
		<a href="#"><button class="btn btn-primary">Modificar pedido</button></a>
		<a href="#"><button class="btn btn-primary">Borrar pedido</button></a>		
	</header>
	<h1>Pedido: {{order.title}}</h1>
	<ul class="list-group">
		{{#order.items}}
		<li class="list-group-item list-group-item-info">
			{{#checked}}
			<del> 
			{{/checked}}	
			{{name}}
			{{#checked}}
			</del> 
			{{/checked}}	
		</li>
		{{/order.items}}
		</tbody>		
	</ul>
</div>
</body>
</html>