<html>
<head>
	<meta charset="UTF-8"/>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="/mdb/js/bootstrap.js"></script>
	<link href="/mdb/css/bootstrap.min.css" rel="stylesheet">
	<link href="/mdb/css/mdb.min.css" rel="stylesheet">
	<link href="/styles/styles.css" rel="stylesheet">	
</head>
<body>
	{{> delete_order_confirm_dialog }}
	<h2>Detalle <span>Pedido</span></h2>
	<div class="card col-md-12 mb-3">
		<nav class="card-body card-body-tiny-padding">
			<a href="/"><button class="btn btn-primary">Lista de pedidos</button></a>
			<a href="/edit/{{id}}"><button class="btn btn-primary">Modificar pedido</button></a>
			<a href="/checkoff/{{id}}"><button class="btn btn-primary">Tachar art&iacute;culos</button></a>
			<button class="btn btn-primary delete_order_confirm_dialog" value="/delete/{{id}}">Borrar pedido</button>
		</nav>
	</div>
	<div class="card">
		<div class="card-body">
			<h3>{{order.title}}</h3>
			<ul class="list-group">
				{{#order.items}}
				<li class="list-group-item list-group-item-info">
					{{#checked}}
					<del> 
						{{/checked}}	
						{{name}}
						{{#checked}}
					</del> 
					{{/checked}}
				</li>
				{{/order.items}}
			</ul>
		</div>
	</div>
	<script>
	$(function() {
		setupDeleteOrderConfirmDialog();
	});	
	</script>
</body>
</html>