body 
{
	padding: 15px;
}

input[type=checkbox] + label {
	font-weight: normal;
}

input[type=checkbox]:checked + label {
	font-weight: normal;
	text-decoration: line-through;
} 

h3 {
	color: #4285F4;
}

h2 {
	font-weight: bold;
	color: #4285F4;
}

h2 span{
	color: #BEE5EB;
}

.card-top-bottom-padding
{
	padding-top:5px;
	padding-bottom: 15px;
}

.card-body-tiny-padding {
	padding: 5px;
}

.hidden {
	display: none;
}

.glyphicon-trash{
	content: url('https://api.iconify.design/fa-regular:trash-alt.svg?height=16');
	vertical-align: -0.125em;
}

.glyphicon-plus-sign {
	content: url('https://api.iconify.design/feather:plus-circle.svg?height=16');
	vertical-align: -0.125em;
}

.btn-glyphicon {
	padding: 5px 15px 5px 15px;
}
